/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Rajdhani:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

*{
  margin: 0px;
}
/*SCROLLBAR*/
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background-color: rgb(255, 255, 255);}
::-webkit-scrollbar-thumb{background-color: black;}
::-webkit-scrollbar-thumb:hover{background-color: rgb(195, 240, 98);}
::-webkit-scrollbar{scroll-behavior: smooth;}

/*PRELOADER*/
#preloader{
  background-color: #222430;
  position: fixed;
  background-color: cover;
  height: 100vh;
  width: 100%;
  z-index: 200;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveWindowDown 1s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.ball:first-child{
  background-color: #dfe6d4;
  display: flex;
  align-items: center;
  justify-content: center;
  width:50px;
  height: 50px;
  font-size: 40px;
  color: #222430;
  text-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.651);
  font-family: permanent marker;
  width:50px;
  height: 50px;
  border-radius: 100%;
  animation: fadeInBalls 1s ease, grow .5s ease-in-out, oscillate .5s alternate-reverse infinite;
  box-shadow:inset 3px -3px 3px #8e918a ;
  margin: 5px;
}
.ball:nth-child(2){
  background-color: #76b60e;
  display: flex;
  align-items: center;
  justify-content: center;
  width:50px;
  height: 50px;
  font-size: 40px;
  color:white;
  text-shadow: 3px 3px 3px#283b09;
  font-family: permanent marker;
  border-radius: 100%;
  box-shadow:inset 3px -3px 3px #355208 ;
  animation: fadeInBalls 1s ease, grow .5s ease-out, oscillate .5s alternate infinite;
}

/*preloader animation keyframes*/
@keyframes fadeInBalls{
    0% { opacity:   0%;}   
  100% { opacity: 100%;}
  }

@keyframes oscillate{
    0% { transform: translateY(0px);}   
  100% { transform: translateY(-20px);}
  }

@keyframes moveWindowDown{
    0% { transform: translateY(0px);}   
  100% { transform: translateY(100vh);}
  }

@keyframes grow{
  from { height: 0px;
          width: 0px;
       }   
    to { height: 50px;
          width: 50px;
       }
  }

@keyframes shrink{
  from { height: 100%;
          width: 100%;
       }   
    to { height:   0%;
          width:   0%;
       }
  }

.navbar{
  background-color: #222430;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 7vh;
}
.navbar a{
  color:white;
  padding: 10px;
  padding-left: 30px;
  font-family: Rajdhani;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}

.navbar a:hover{
  text-decoration: none;
  color:rgba(237, 240, 231, 0.89);
  font-size: 20px;
  transition: all 1s;
}

/* PORTFOLIO CUBE*/
#cube-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: " cube-info-1 cube-img-1 cube-info-3 slider"
                       " cube-img-2 cube-info-2  cube-img-3 slider";
  height: 93vh;
  width: 100%;
}
#cube-section h2{
  font-size: 25px;
  font-family: Rajdhani;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
}
#cube-section h3{
  color: #76b60e;
  font-size: 15px;
  font-family: Rajdhani;
  font-weight: 700;
  text-transform: uppercase;
}
#cube-section p{
  font-family: Rajdhani;
  color: black;
  font-weight: regular 400;
}
.slider{
  background-color: #76b60e;
  grid-area: slider;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.cube-info-1{
  background-color: white;
  grid-area: cube-info-1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}
.cube-info-2{
  background-color: white;
  grid-area: cube-info-2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}
.cube-info-3{
  background-color: white;
  grid-area: cube-info-3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}
.cube-img-1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.349)),url();
  grid-area: cube-img-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  overflow: hidden;
  
}
.cube-img-1:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.603)),url();
  transition: all 2s ease-in-out;
}

 video {
  object-fit: cover;
  top: 0px;
  object-position: center;
  z-index: -60;
  width: 500px;
  height: 500px;
 }

.cube-img-2{
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.678)),url(/images/office-animation-images/office-desk.jpg);
  grid-area: cube-img-2;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
.cube-img-2:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url(/images/office-animation-images/office-desk.jpg);
  transition: all 2s ease-in-out;
}

.cube-img-3{
  background-image: linear-gradient(rgb(72, 73, 69), rgb(14, 14, 12)),url();
  grid-area: cube-img-3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

/*PROJECT AND SOURCE CODE BUTTONS*/
.sourceCodeButton{
  background-color: #650eb6;
  padding: 5px 10px;
  color: white;
  font-family: Rajdhani;
  border-radius: 5px;
  font-weight: 500;
  margin: 3.5px;
  text-transform: uppercase;
  box-shadow: 0px 3px 4px black;
  -webkit-animation: oscillate 2s alternate-reverse step-end infinite;
     -moz-animation: oscillate 2s alternate-reverse infinite;
          animation: oscillate 1.5s alternate-reverse ease-in-out infinite;
width: 45%;

}
.sourceCodeButton:hover{
  background-color: #7edde975;
  color: white;
  font-family: Rajdhani;
  text-decoration: none;
  -webkit-animation: normal;
     -moz-animation: normal;
          animation: normal;
}

.projectButton{
  background-color: #76b60e;
  padding: 5px 10px;
  color: white;
  font-family: Rajdhani;
  border-radius: 5px;
  font-weight: 500;
  margin: 3.5px;
  text-transform: uppercase;
  box-shadow: 0px 3px 4px black;
  -webkit-animation: oscillate 2s alternate infinite;
     -moz-animation: oscillate 2s alternate infinite;
          animation: oscillate 2s alternate infinite;
  width: 45%;
  font-size: 14px;
}
.projectButton:hover{
  background-color: #91ca3573;
  color: white;
  font-family: Rajdhani;
  text-decoration: none;
  -webkit-animation: normal;
     -moz-animation: normal;
          animation: normal;
}

#arrow{
  height: 100px;
  animation: fadeIn 2s ease, oscillateVertical 1s alternate-reverse infinite;
}

/* KEYFRAMES */
@keyframes fadeIn{
  0% { opacity:   0%;}   
100% { opacity: 100%;}
}

@keyframes oscillate{
  0% { transform: translateY(0px);}   
100% { transform: translateY(-5px);}
}

@keyframes oscillateVertical{
  0% { transform: translateX(0px);}   
100% { transform: translateX(-20px);}
}