*{
  margin: 0px;
}

#dial-container{
  background-color: aqua;
  width:50%;
  height:50%;
  border-radius: 100%;
  box-shadow: 0px 3px 5px gray;
  display: flex;
  animation:rotateDial 1s infinite;
}

@keyframes rotateDial{
  100%{transform: rotateX(360deg)};
}

#icon-size{
  width:75px;
  height: 75px;
}

.dial-item{
  
}
