/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Rajdhani:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

*{
  margin: 0px;
}
/*SCROLLBAR*/
::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background-color: rgb(255, 255, 255);}
::-webkit-scrollbar-thumb{background-color: black;}
::-webkit-scrollbar-thumb:hover{background-color: rgb(195, 240, 98);}
::-webkit-scrollbar{scroll-behavior: smooth;}

/*PRELOADER*/
#preloader{
  background-color: #222430;
  position: fixed;
  background-color: cover;
  height: 100vh;
  width: 100%;
  z-index: 200;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveWindowDown 1s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.ball:first-child{
  background-color: #dfe6d4;
  border: #ffffff 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width:50px;
  height: 50px;
  font-size: 40px;
  color: #222430;
  text-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.651);
  font-family: permanent marker;
  width:50px;
  height: 50px;
  border-radius: 100%;
  animation: fadeInBalls 1s ease, grow .5s ease-in-out, oscillate .5s alternate-reverse infinite;
  box-shadow:inset 3px -3px 3px #8e918a ;
  margin: 5px;
}
.ball:nth-child(2){
  background-color: #76b60e;
  display: flex;
  align-items: center;
  justify-content: center;
  width:50px;
  height: 50px;
  font-size: 40px;
  color:white;
  border: #ffffff 3px solid;
  text-shadow: 3px 3px 3px#283b09;
  font-family: permanent marker;
  border-radius: 100%;
  box-shadow:inset 3px -3px 3px #355208 ;
  animation: fadeInBalls 1s ease, grow .5s ease-out, oscillate .5s alternate infinite;
}

/*preloader animation keyframes*/
@keyframes fadeInBalls{
    0% { opacity:   0%;}   
  100% { opacity: 100%;}
  }

@keyframes oscillate{
    0% { transform: translateY(0px);}   
  100% { transform: translateY(-20px);}
  }

@keyframes moveWindowDown{
    0% { transform: translateY(0px);}   
  100% { transform: translateY(100vh);}
  }

@keyframes grow{
  from { height: 0px;
          width: 0px;
       }   
    to { height: 50px;
          width: 50px;
       }
  }

@keyframes shrink{
  from { height: 100%;
          width: 100%;
       }   
    to { height:   0%;
          width:   0%;
       }
  }


  .navbar{
    background-color: #222430;
    width: 100%;
    height: auto;
    bottom: 0px;
    position: fixed;
    z-index: 198;
  }
  
  .navbar{
    background-color: #222430;
    width: 100%;
    height: auto;
    bottom: 0px;
    position: fixed;
    z-index: 198;
  }
  
  nav .navbar-brand{
    font-family: permanent marker;
    text-transform: uppercase ;
  }
  
  nav .navbar-nav li a{
    color:rgb(255, 255, 255);
    padding: 10px;
    padding-left: 30px;
    font-family: amatic sc;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .navbar a:hover{
    text-decoration: none;
    color:rgba(237, 240, 231, 0.89);
    transition: all 1s;
    text-transform: capitalize;
  }
  



/* PORTFOLIO CUBE*/
#cube-section{
  display: grid;
  grid-template-columns: .25fr .5fr 1fr ;
  grid-template-rows: 1fr 1.50fr;
  grid-template-areas: "slider cube-img-1 cube-info-1  "
                       "slider cube-img-2 cube-info-2  ";
  height: 93vh;
  width: 100%;
  grid-gap: 5px;
  background-color: #222430;
}
#cube-section h2{
  font-size: 25px;
  font-family: Rajdhani;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
}
#cube-section h3{
  color: #76b60e;
  font-size: 20px;
  font-family: amatic sc;
  font-weight: 700;
  text-transform: uppercase;
}
#cube-section p{
  font-family: Rajdhani;
  color: black;
  font-weight: 500;
}
.slider{
  background-color: #76b60e;
  grid-area: slider;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: bounce 5s alternate-reverse ease-in-out infinite;
  overflow: hidden;
}

.slider h1{
  font-family: permanent marker;
  font-size: 50px;
  justify-content: right;
  animation: test 2s alternate-reverse infinite,hang 5s ease-in-out alternate-reverse infinite;
  

}


@keyframes test{
  0% { opacity:   0%;
        
        transform: rotateX(95deg);
        
        

                      }   
100% { opacity: 100%;
        color:#222430;
        transform: rotateY(45deg);}
}

@keyframes hang{
  100%{transform: rotate(90deg);}
}


@keyframes bounce{
  0%{
    display:none;
    justify-content: justify;
    align-items: center;
    flex-direction: column;
     color:rgb(92, 25, 199);
    font-family: amatic sc;
  }
  
  25%{
    display:none;
    justify-content:left;
    align-items:flex-end;
    flex-direction: column;
    color: #222430;
  }

  50%{
    display:flex;
    justify-content: right;
    align-items:stretch;
    flex-direction: column-reverse;
    font-family: amatic sc;
  }

  100%{
    display:none;
    justify-content:center;
    align-items:flex-end;
    flex-direction: column;
    color: #222430;
  }
}

.cube-info-1{
  background-color: white;
  grid-area: cube-info-1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  text-align: justify;
}

.cube-info-1 p{
  width:80%;
}
.cube-info-2{
  background-color: white;
  grid-area: cube-info-2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}
.cube-info-2 p{
  width:80%;
}


.cube-info-3{
  background-color: white;
  grid-area: cube-info-3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  
}
.cube-img-1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.795)),url(/images/job-app-images/office-space.jpg);
  grid-area: cube-img-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  /* box-shadow: inset 3px 3px 3px black; */
}
.cube-img-1:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.829)),url(/images/job-app-images/office-space.jpg);
  transition: all 2s ease-in-out;
}
.cube-img-2{
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.418)),url(/images/burger-app-images/burgerBg.jpg);
  grid-area: cube-img-2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* box-shadow: inset 3px 3px 3px black; */
}
.cube-img-2:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url(/images/burger-app-images/burgerBg.jpg);
  transition: all 2s ease-in-out;
}
.cube-img-3{
  background-image: linear-gradient(rgba(72, 73, 69, 0.267), rgba(14, 14, 12, 0.226)),url(images/job-app-images/computerbg.jpg);
  grid-area: cube-img-3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  box-shadow: inset 3px 3px 3px black;
}

/*PROJECT AND SOURCE CODE BUTTONS*/
.sourceCodeButton{
  background-color: #4f5455;
  padding: 5px 10px;
  color: white;
  font-family: Rajdhani;
  border-radius: 5px;
  font-weight: 800;
  margin: 5px;
  text-transform: capitalize;
  box-shadow: 0px 3px 4px black;
  box-shadow:inset 0 -0.8em 0 -0.35em rgba(0, 0, 0, 0.527);
  /* -webkit-animation: oscillate 3s alternate-reverse infinite;
     -moz-animation: oscillate 3s alternate-reverse infinite;
          animation: oscillate 3s alternate-reverse infinite; */
}
.sourceCodeButton:hover{
  background-color: #19191a75;
  color: white;
  font-family: Rajdhani;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-animation: normal;
     -moz-animation: normal;
          animation: normal;
          -shadow: 0px 3px 4px black;
    
}

.projectButton{
  background-color: #76b60e;
  padding: 5px 10px;
  color: white;
  font-family: Rajdhani;
  border-radius: 5px;
  font-weight: 600;
  margin: 2.5px;
  text-transform: capitalize;
  box-shadow: 0px 3px 4px black;
  /* -webkit-animation: oscillate 2s alternate infinite;
     -moz-animation: oscillate 2s alternate infinite;
          animation: oscillate 2s alternate infinite; */
          box-shadow:inset 0 -0.8em 0 -0.35em rgba(0,0,0,0.17);
}
.projectButton:hover{
  background-color: #91ca35;
  text-transform: capitalize;
  color: white;
  font-family: Rajdhani;
  text-decoration: none;
  -webkit-animation: normal;
     -moz-animation: normal;
          animation: normal;
    
}

#arrow{
  height: 100px;
  animation: fadeIn 2s ease, oscillateVertical 1s alternate-reverse infinite;
}

#arrow:hover{
  opacity: 60%;
}

/* KEYFRAMES */
@keyframes fadeIn{
  0% { opacity:   0%;}   
100% { opacity: 100%;}
}

@keyframes oscillate{
  0% { transform: translateY(0px);}   
100% { transform: translateY(-20px);}
}

@keyframes oscillateVertical{
  0% { transform: translateX(0px);}   
100% { transform: translateX(-20px);}
}



/*RESPONSIVE 375*/
@media only screen and (max-width: 375px ) {
  /*PRELOADER*/
#preloader{
  background-color: #222430;
  position: fixed;
  background-color: cover;
  height: 100vh;
  width: 100%;
  z-index: 200;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveWindowDown 1s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.ball:first-child{
  background-color: #dfe6d4;
  display: flex;
  align-items: center;
  justify-content: center;
  width:50px;
  height: 50px;
  font-size: 40px;
  color: #222430;
  text-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.651);
  font-family: permanent marker;
  width:50px;
  height: 50px;
  border-radius: 100%;
  animation: fadeInBalls 1s ease, grow .5s ease-in-out, oscillate .5s alternate-reverse infinite;
  box-shadow:inset 3px -3px 3px #8e918a ;
  margin: 5px;
}
.ball:nth-child(2){
  background-color: #76b60e;
  display: flex;
  align-items: center;
  justify-content: center;
  width:50px;
  height: 50px;
  font-size: 40px;
  color:white;
  text-shadow: 3px 3px 3px#283b09;
  font-family: permanent marker;
  border-radius: 100%;
  box-shadow:inset 3px -3px 3px #355208 ;
  animation: fadeInBalls 1s ease, grow .5s ease-out, oscillate .5s alternate infinite;
}

/*preloader animation keyframes*/
@keyframes fadeInBalls{
    0% { opacity:   0%;}   
  100% { opacity: 100%;}
  }

@keyframes oscillate{
    0% { transform: translateY(0px);}   
  100% { transform: translateY(-20px);}
  }

@keyframes moveWindowDown{
    0% { transform: translateY(0px);}   
  100% { transform: translateY(100vh);}
  }

@keyframes grow{
  from { height: 0px;
          width: 0px;
       }   
    to { height: 50px;
          width: 50px;
       }
  }

@keyframes shrink{
  from { height: 100%;
          width: 100%;
       }   
    to { height:   0%;
          width:   0%;
       }
  }



  /*
  .navbar{
    background-color: #222430;
    width: 100%;
    height: auto;
    bottom: 0px;
    position: fixed;
    z-index: 198;
  }
  
  nav .navbar-brand{
    font-family: permanent marker;
    text-transform: uppercase ;
  }
  
  nav .navbar-nav li a{
    color:rgb(255, 255, 255);
    padding: 10px;
    padding-left: 30px;
    font-family: Rajdhani;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
  }
  
  .navbar a:hover{
    text-decoration: none;
    color:rgba(237, 240, 231, 0.89);
    font-size: 20px;
    transition: all 1s;
  }*/
  



/* PORTFOLIO CUBE*/
#cube-section{
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:"slider" 
                      "cube-img-1"
                      "cube-info-1" 
                      "cube-img-2"
                      "cube-info-2"
                      "cube-img-3"
                      "cube-info-3"
                         ;
  height: 93vh;
  width: 100%;
}
#cube-section h2{
  font-size: 25px;
  font-family: Rajdhani;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
}
#cube-section h3{
  color: #76b60e;
  font-size: 20px;
  font-family: amatic sc;
  font-weight: 700;
  text-transform: uppercase;
}
#cube-section p{
  font-family: Rajdhani;
  color: black;
  font-weight: 500;
}
.slider{
  background-color: #76b60e;
  grid-area: slider;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cube-info-1{
  background-color: white;
  grid-area: cube-info-1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}
.cube-info-2{
  background-color: white;
  grid-area: cube-info-2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  
}
.cube-info-3{
  background-color: white;
  grid-area: cube-info-3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  height: 200px;
}
.cube-img-1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.795)),url(/images/job-app-images/office-space.jpg);
  grid-area: cube-img-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  overflow: hidden;
  height: 200px;
}
.cube-img-1:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.829)),url(/images/job-app-images/office-space.jpg);
  transition: all 2s ease-in-out;
}
.cube-img-2{
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.418)),url(/images/burger-app-images/burgerBg.jpg);
  grid-area: cube-img-2;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: max-content;
  height: 200px;
  text-align: center;
}
.cube-img-2:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url(/images/burger-app-images/burgerBg.jpg);
  transition: all 2s ease-in-out;
}
.cube-img-3{
  background-image: linear-gradient(rgba(72, 73, 69, 0.267), rgba(14, 14, 12, 0.226)),url(images/job-app-images/computerbg.jpg);
  grid-area: cube-img-3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 200px;

}

/*PROJECT AND SOURCE CODE BUTTONS*/
.sourceCodeButton{
  background-color: #0ea2b6;
  padding: 5px 10px;
  color: white;
  font-family: Rajdhani;
  border-radius: 5px;
  font-weight: 600;
  margin: 2.5px;
  text-transform: uppercase;
  box-shadow: 0px 3px 4px black;
  box-shadow:inset 0 -0.8em 0 -0.35em rgba(0,0,0,0.17);
  -webkit-animation: oscillate 2s alternate-reverse infinite;
     -moz-animation: oscillate 2s alternate-reverse infinite;
          animation: oscillate 2s alternate-reverse infinite;
}
.sourceCodeButton:hover{
  background-color: #7edde975;
  color: white;
  font-family: Rajdhani;
  text-decoration: none;
  -webkit-animation: normal;
     -moz-animation: normal;
          animation: normal;
          -shadow: 0px 3px 4px black;
}

.projectButton{
  background-color: #76b60e;
  padding: 5px 10px;
  color: white;
  font-family: Rajdhani;
  border-radius: 5px;
  font-weight: 600;
  margin: 2.5px;
  text-transform: uppercase;
  box-shadow: 0px 3px 4px black;
  -webkit-animation: oscillate 2s alternate infinite;
     -moz-animation: oscillate 2s alternate infinite;
          animation: oscillate 2s alternate infinite;
          box-shadow:inset 0 -0.8em 0 -0.35em rgba(0,0,0,0.17);
}
.projectButton:hover{
  background-color: #91ca3573;
  color: white;
  font-family: Rajdhani;
  text-decoration: none;
  -webkit-animation: normal;
     -moz-animation: normal;
          animation: normal;
}

  #arrow{
    height: 100px;
    animation: fadeIn 2s ease, oscillateVertical 1s alternate-reverse infinite;
  }

  #arrow:hover{
    opacity: 60%;
  }

  /* KEYFRAMES */
  @keyframes fadeIn{
    0% { opacity:   0%;}   
  100% { opacity: 100%;}
  }

  @keyframes oscillate{
    0% { transform: translateY(0px);}   
  100% { transform: translateY(-20px);}
  }

  @keyframes oscillateVertical{
    0% { transform: translateX(0px);}   
  100% { transform: translateX(-20px);}
  }
}

/*RESPONSIVE 414*/
@media only screen and (max-width: 414px ) {
  /*PRELOADER*/
#preloader{
  background-color: #222430;
  position: fixed;
  background-color: cover;
  height: 100vh;
  width: 100%;
  z-index: 200;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moveWindowDown 1s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.ball:first-child{
  background-color: #dfe6d4;
  display: flex;
  align-items: center;
  justify-content: center;
  width:50px;
  height: 50px;
  font-size: 40px;
  color: #222430;
  text-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.651);
  font-family: permanent marker;
  width:50px;
  height: 50px;
  border-radius: 100%;
  animation: fadeInBalls 1s ease, grow .5s ease-in-out, oscillate .5s alternate-reverse infinite;
  box-shadow:inset 3px -3px 3px #8e918a ;
  margin: 5px;
}
.ball:nth-child(2){
  background-color: #76b60e;
  display: flex;
  align-items: center;
  justify-content: center;
  width:50px;
  height: 50px;
  font-size: 40px;
  color:white;
  text-shadow: 3px 3px 3px#283b09;
  font-family: permanent marker;
  border-radius: 100%;
  box-shadow:inset 3px -3px 3px #355208 ;
  animation: fadeInBalls 1s ease, grow .5s ease-out, oscillate .5s alternate infinite;
}

/*preloader animation keyframes*/
@keyframes fadeInBalls{
    0% { opacity:   0%;}   
  100% { opacity: 100%;}
  }

@keyframes oscillate{
    0% { transform: translateY(0px);}   
  100% { transform: translateY(-20px);}
  }

@keyframes moveWindowDown{
    0% { transform: translateY(0px);}   
  100% { transform: translateY(100vh);}
  }

@keyframes grow{
  from { height: 0px;
          width: 0px;
       }   
    to { height: 50px;
          width: 50px;
       }
  }

@keyframes shrink{
  from { height: 100%;
          width: 100%;
       }   
    to { height:   0%;
          width:   0%;
       }
  }

/* PORTFOLIO CUBE*/
#cube-section{
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:"slider" 
                      "cube-img-1"
                      "cube-info-1" 
                      "cube-img-2"
                      "cube-info-2"
                      "cube-img-3"
                      "cube-info-3"
                         ;
  height: 93vh;
  width: 100%;
}
#cube-section h2{
  font-size: 25px;
  font-family: Rajdhani;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
}
#cube-section h3{
  color: #76b60e;
  font-size: 20px;
  font-family: amatic sc;
  font-weight: 700;
  text-transform: uppercase;
}
#cube-section p{
  font-family: Rajdhani;
  color: black;
  font-weight: 500;
}
.slider{
  background-color: #76b60e;
  grid-area: slider;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cube-info-1{
  background-color: white;
  grid-area: cube-info-1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}
.cube-info-2{
  background-color: white;
  grid-area: cube-info-2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  
}
.cube-info-3{
  background-color: white;
  grid-area: cube-info-3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  height: 200px;
}
.cube-img-1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.795)),url(/images/job-app-images/office-space.jpg);
  grid-area: cube-img-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  overflow: hidden;
  height: 200px;
}
.cube-img-1:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.829)),url(/images/job-app-images/office-space.jpg);
  transition: all 2s ease-in-out;
}
.cube-img-2{
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.418)),url(/images/burger-app-images/burgerBg.jpg);
  grid-area: cube-img-2;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: max-content;
  height: 200px;
  text-align: center;
}
.cube-img-2:hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url(/images/burger-app-images/burgerBg.jpg);
  transition: all 2s ease-in-out;
}
.cube-img-3{
  background-image: linear-gradient(rgba(72, 73, 69, 0.267), rgba(14, 14, 12, 0.226)),url(images/job-app-images/computerbg.jpg);
  grid-area: cube-img-3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 200px;

}

/*PROJECT AND SOURCE CODE BUTTONS*/
.sourceCodeButton{
  background-color: #0ea2b6;
  padding: 5px 10px;
  color: white;
  font-family: Rajdhani;
  border-radius: 5px;
  font-weight: 600;
  margin: 2.5px;
  text-transform: uppercase;
  box-shadow: 0px 3px 4px black;
  box-shadow:inset 0 -0.8em 0 -0.35em rgba(0,0,0,0.17);
  -webkit-animation: oscillate 2s alternate-reverse infinite;
     -moz-animation: oscillate 2s alternate-reverse infinite;
          animation: oscillate 2s alternate-reverse infinite;
}
.sourceCodeButton:hover{
  background-color: #7edde975;
  color: white;
  font-family: Rajdhani;
  text-decoration: none;
  -webkit-animation: normal;
     -moz-animation: normal;
          animation: normal;
          -shadow: 0px 3px 4px black;
}

.projectButton{
  background-color: #76b60e;
  padding: 5px 10px;
  color: white;
  font-family: Rajdhani;
  border-radius: 5px;
  font-weight: 600;
  margin: 2.5px;
  text-transform: uppercase;
  box-shadow: 0px 3px 4px black;
  -webkit-animation: oscillate 2s alternate infinite;
     -moz-animation: oscillate 2s alternate infinite;
          animation: oscillate 2s alternate infinite;
          box-shadow:inset 0 -0.8em 0 -0.35em rgba(0,0,0,0.17);
}
.projectButton:hover{
  background-color: #91ca3573;
  color: white;
  font-family: Rajdhani;
  text-decoration: none;
  -webkit-animation: normal;
     -moz-animation: normal;
          animation: normal;
}

  #arrow{
    height: 100px;
    animation: fadeIn 2s ease, oscillateVertical 1s alternate-reverse infinite;
  }

  #arrow:hover{
    opacity: 60%;
  }

  /* KEYFRAMES */
  @keyframes fadeIn{
    0% { opacity:   0%;}   
  100% { opacity: 100%;}
  }

  @keyframes oscillate{
    0% { transform: translateY(0px);}   
  100% { transform: translateY(-20px);}
  }

  @keyframes oscillateVertical{
    0% { transform: translateX(0px);}   
  100% { transform: translateX(-20px);}
  }
  
}

#project-container{
  background-color: #7882bb00;
  width:100%;
  height: 100vh;
  position: fixed;
}

.project-block{
  position: absolute;
  background-color: #76b60e;
  width:275px;
  height: 325px;;
}

.project-block:first-child{
  top:20%;
  left: 10%;
}

.project-block:nth-child(2){
  top:35%;
  right:20%;
}


#port-grid{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "one" "two" "three" "four"
                       "five" "six" "seven" "eight" 
                       "nine" "ten" "eleven" "twelve";
                       background-color: #222430;
}

.grid-block{
  background-color: #222430;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 5px black;
}

.grid-block:first-child{
  grid-area: one;
  animation: fadeblock 6.5s infinite alternate;
}

.grid-block:nth-child(2){
  border-radius: 5px;
  grid-area: "two";
  animation: fadeblock 5s infinite alternate;

}

.grid-block:nth-child(3){
  
  grid-area: "three";
  animation: fadeblock 4.5s infinite alternate;

}

.grid-block:nth-child(4){
  
  grid-area: "four";
  animation: fadeblock 3.5s infinite alternate-reverse;

}

.grid-block:nth-child(5){
  
  grid-area: "five";
  animation: fadeblock 4.5s infinite alternate;

}

.grid-block:nth-child(6){
  
  grid-area: "six";
  animation: fadeblock 6.5s infinite alternate;
}

.grid-block:nth-child(7){
 
  grid-area: "seven";
  animation: fadeblock 3s infinite alternate;

}

.grid-block:nth-child(8){
  grid-area: "eight";
  animation: fadeblock 5s infinite alternate;

}

.grid-block:nth-child(9){
  grid-area: "nine";
  animation: fadeblock 5s infinite alternate;

}

.grid-block:nth-child(10){
  grid-area: "ten";
  animation: fadeblock 5.5s infinite alternate;

}

.grid-block:nth-child(11){
  grid-area: "eleven";
  animation: fadeblock 4s infinite alternate;

}

.grid-block:nth-child(12){
  grid-area: "twelve";
  animation: fadeblock 5s infinite alternate;
}

@keyframes fadeblock{
  100%{
    background-color: #46464b;
    
  }
}

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  width:100%;
  height: 100%;
}

#card-container{
  width:100%;
  height:100%;
  border-radius: 5px;
  position: relative;
  
}

#card{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s;
}

.card-front{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #7882bb44;
  position: absolute;
  backface-visibility: hidden;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 3px 5px black;
  line-height: 90;
  border-radius: 5px;
}
.card-front h4{
  color:#dfe6d4;
}
h1{
  font-family: amatic sc;
  color:yellowgreen;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
}
h4{
  color:black;
  font-size: 20px ;
  font-family: Amatic SC;
}

.card-back{
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  flex-direction: column;
  text-align: center;
  padding: 5px;
  font-family: 'Times New Roman';
  box-shadow: 0px 3px 5px black;
}

.card-back:first-child{
  height: auto; 
 }


#card:hover{
  transform: rotateY(180deg);
  transition: all 1s ease-in-out;
}