@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


html,body
{
  box-sizing: border-box;
  transition: background-color 2s ease-in;
  scroll-behavior: smooth;
  align-content: center;
  margin:0;
  background: linear-gradient(
      rgba(176, 227, 230, 0.76), 
      rgba(218, 198, 243, 0.719)
    ), url('');
}

#preload{
  width:100%;
  height:100vh;
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 999; 
  background-color: black;
  -webkit-animation: fadetoblack, makevisible,displayNone;
     -moz-animation: fadetoblack, makevisible;
      -ms-animation: fadetoblack, makevisible;
       -o-animation: fadetoblack, makevisible;
          animation: fadetoblack, makevisible,displayNone;
  animation-duration: 10s, 1s, 1s;
  animation-delay: 3s,1s;
  animation-timing-function: ease,ease,ease;
  animation-iteration-count: 1,1,1;
  animation-fill-mode: forwards;
}



#desk{
  position: absolute;
    bottom: 0;
     width: 355px;
      left: 400px;
  -webkit-animation: moveUp 2.0s ease;
     -moz-animation: moveUp 2.0s ease;
      -ms-animation: moveUp 2.0s ease;
       -o-animation: moveUp 2.0s ease;
          animation: moveUp 2.0s ease;
  justify-content: center;
  align-items: center;
  z-index: 18;
}

#onthewall{
  position: absolute;
  left: 270px;
  bottom: 15px;
  width: 450px;
  height: 450px;
}

@media screen and (max-width: 0px) {
  #banner{ display: none; }
}

#chair{
  position: absolute;
    bottom: 0px;
      left: 530px;
    height: 180px;
     width: 135px;
   z-index: 65;     
  -webkit-animation: moveRight 3.6s ease;
     -moz-animation: moveRight 3.6s ease;
      -ms-animation: moveRight 3.6s ease;
       -o-animation: moveRight 3.6s ease;
          animation: moveRight 3.6s ease; 
}

#chair:hover{
  -webkit-animation: flip 1.6s ease alternate-reverse infinite;
     -moz-animation: flip 1.6s ease alternate-reverse infinite;
      -ms-animation: flip 1.6s ease alternate-reverse infinite;
       -o-animation: flip 1.6s ease alternate-reverse infinite;
          animation: flip 1.6s ease alternate-reverse infinite; 
          transition: all 1s ease;
}

#computer{
  position: absolute;
     width: 150px;
    height: 120px;
    bottom: 160px;
      left: 500px;
   z-index: 25;
  -webkit-animation: moveUp 2.0s ease;
     -moz-animation: moveUp 2.0s ease;
      -ms-animation: moveUp 2.0s ease;
       -o-animation: moveUp 2.0s ease;
          animation: moveUp 2.0s ease; 
}

#stickynote{
  position: absolute;
    height: 30px;
     width: 30px;
     right: 14px;
       top: 300px;
  -webkit-animation: moveDown 3s ease-in-out;
     -moz-animation: moveDown 3s ease-in-out;
      -ms-animation: moveDown 3s ease-in-out;
       -o-animation: moveDown 3s ease-in-out;
          animation: moveDown 3s ease-in-out;
}

#stickynote:hover{
  -webkit-animation: noteFall 3s ease;
     -moz-animation: noteFall 3s ease;
      -ms-animation: noteFall 3s ease;
       -o-animation: noteFall 3s ease;
          animation: noteFall 3s ease;
}

#window{
  position: absolute;
      left: 32px;
       top: 118px;
     width: 175px;
  -webkit-animation: moveRight 2s ease;
     -moz-animation: moveRight 2s ease;
      -ms-animation: moveRight 2s ease;
       -o-animation: moveRight 2s ease;
          animation: moveRight 2s ease;
}

#windows{
  position: absolute;
     width: 140px;
       top: 130px;
  overflow: hidden;
    height: 275px;
      left: 50px;

  -webkit-animation: moveRight 2s ease;
     -moz-animation: moveRight 2s ease;
      -ms-animation: moveRight 2s ease;
       -o-animation: moveRight 2s ease;
          animation: moveRight 2s ease;
}

#floor{
   background-image: radial-gradient(#05293a, #010e20);
     width: 100%;
    height: 30px;
    bottom: 0;
  position: absolute;
   z-index: 8;
}



#outside{
  position: absolute;
   z-index: 0;
       top: 0px;
      left: -200px;
    height: 285px;
     width: 600px;
  background-size:contain;
  background-attachment: fixed;
  -webkit-animation: weather 20s linear infinite reverse;
     -moz-animation: weather 20s linear infinite reverse;
      -ms-animation: weather 20s linear infinite reverse;
       -o-animation: weather 20s linear infinite reverse;
          animation: weather 20s linear infinite reverse;
          animation-fill-mode: forwards;
          animation-delay: 2s;
}

#blinds{
  position: absolute;
  z-index: 3;
  top:115px;
  left:30px;
  height:350px;
  width:178px;
  -webkit-animation: moveRight, pullBlinds;
     -moz-animation: moveRight, pullBlinds;
          animation: moveRight, pullBlinds;
  animation-timing-function: ease, ease-in;
  animation-duration: 2s, .5s;
  animation-iteration-count: 1,1;
  animation-fill-mode: forwards;
  animation-delay: 0s,5s;
  -webkit-animation-delay: 0s,6s;
}

#blinds:hover{
  height:356px;
}

#bookshelf{
  position: absolute;
  height:100px;
  width:125px;
  left:26px;
  top:160px;
  -webkit-animation: moveDown 3s ease;
     -moz-animation: moveDown 3s ease;
      -ms-animation: moveDown 3s ease;
       -o-animation: moveDown 3s ease;
          animation: moveDown 3s ease;
}



.rocketpreloader {
  width:600px;
  height:600px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: skycolor, end, fadetoblack ;
  animation-duration: 5s, 1s,2s;
  animation-delay: 0s, 13s,15s; 
  animation-timing-function: ease, ease,ease ;
  animation-iteration-count: 3,1,1;
  z-index: 999;
}

/*.cloud1{
  height: 380px;
  animation-name: fly, cloudsize,cloudfall, end;
  animation-duration: 0s, 4s, 2s;
  animation-delay: 1s, 4s,12s; 
  animation-timing-function: ease, ease ;
  animation-iteration-count: 3, 1,infinite;
  animation-direction: normal;
  position: relative;
  animation-fill-mode: forwards;
  top:15%;
  right:80px;
  background-color: blue;  
}
.cloud2{
  height: 345px;
  animation-name: fly, cloudsize, cloudfall,end;
  animation-duration: 0s, 5s,2s, 1s;
  animation-delay: 0s, 3s, 4s, 12s; 
  animation-timing-function: ease, ease ;
  animation-iteration-count: 1, 1, infinite;
  position: relative;
  animation-fill-mode: forwards;
  top:5%;
  right:40; 
}
.cloud6{
  height: 275px;
  animation-name: fly, cloudsize,cloudfall,end ;
  animation-duration: 1s, 5s,4s;
  animation-delay: 0s, 1s; 
  animation-timing-function: ease, ease ;
  animation-iteration-count: 1, 1,infinite;
  animation-direction: normal;
  position: relative;
  animation-fill-mode: forwards;
  top:15%;
  left:20px;
} 
.cloud5{
  height: 400px;
  animation-name: fly, cloudsize,cloudfall,end ;
  animation-duration: 0s, 5s,3s;
  animation-delay: 0s, 4s; 
  animation-timing-function: ease, ease ;
  animation-iteration-count: 1, 1,25, 1;
  animation-direction: normal;
  position: relative;
  animation-fill-mode: forwards;
  top:25%;
  right:30;
} 
.cloud3{
  height: 430px;
  animation-name: fly, cloudsize,cloudfall,end ;
  animation-duration: 0s, 1s,5s;
  animation-delay: 0s, 3s; 
  animation-timing-function: ease, ease ;
  animation-iteration-count: 1, 1,25,end;
  animation-direction: normal;
  position: relative;
  animation-fill-mode: forwards;
  top: 0;
  right:50;
  z-index: -1;
}
.cloud4{
  height: 300px;
  animation-name: fly, cloudsize,cloudfall, end ;
  animation-duration: 0s, 1s,2s;
  animation-delay: 0s, 7s;
  animation-timing-function: ease, ease ;
  animation-iteration-count: 1, 1,infinite;
  animation-direction: normal;
  position: relative;
  animation-fill-mode: forwards;
  top:25%;
  left:50;
} 


#elevator{
  height: 500px;
  animation-name: rotate, fly, elevatorsize, drop,elevatorsizebig,end;
  animation-duration: 1s, 3s, 2s,.5s, 2s,2s;
  animation-delay: 0s, 1s, 5s, 8s, 12s, 13s,1s; 
  animation-timing-function: ease, ease, ease, ease;
  animation-iteration-count: 1, 1, 1, 45, 1;
  animation-direction: alternate;
  position: absolute;
  animation-fill-mode: forwards;
}

.fire{
  height: 1px;
  animation-name: makevisible,rotate,end;
  animation-duration:2s,.4s,1s;
  animation-delay: 8s, 12s; 
  animation-timing-function: ease ;
  animation-iteration-count:normal,25,1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  position: relative;
  top: 160px;
  z-index: 999;
}

rocket preloader animations*/

@keyframes fadetoblack
{
  from {  background-color: rgb(106, 29, 169);}
    to { background-color: rgb(1, 3, 4);}
}
@keyframes skycolor
{
  from { background-color: rgb(151, 210, 214);}
    to { background-color: rgb(7, 103, 193);}
}
@keyframes fly
{ 
  0%, 100% {transform: translateY(0px);}
  50% {transform: translateY(-600px);}
}
@keyframes elevatorsizebig
{
  from {height:200px;}
    to {height:2400px;}
}
@keyframes elevatorsize
{
  from {height:500px;}
    to {height:200px;}
}
@keyframes cloudsize
{
  from { height:75%; }
    to { height:15%; }
}

@keyframes cloudfall
{
  from { transform: translateY(-800%);}
    to { transform: translateY(800%);}
}
@keyframes makevisible
{
  from { height: 0%;}
    to { height: 15%;}
}
@keyframes rotate
{ 
  100%{ transform: rotate(360deg);}
}
@keyframes end
{
  from { visibility: visible;}
    to { visibility: hidden;}
}
@keyframes widen{
  from { width: 35%;}
    to { width: 45%;}
}





#picture{
  position: absolute;
  height:150px;
  width:120px;
  top:10px;
  background-size: 10px;
  left:30px;
  -webkit-animation: moveUp 1.75s ease;
     -moz-animation: moveUp 1.75s ease;
      -ms-animation: moveUp 1.75s ease;
       -o-animation: moveUp 1.75s ease;
          animation: moveUp 1.75s ease;
}

#picture:hover{
  height: 175px;
  width:150px;
 -webkit-transition: all 1s;
    -moz-transition: all 1s;
         transition: all 1s;
}


#trashcan:hover{
  -webkit-animation: spin 1s ease;
     -moz-animation: spin 1s ease;
      -ms-animation: spin 1s ease;
       -o-animation: spin 1s ease;
          animation: spin 1s ease;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
          -webkit-transition: all 1s;
                  transition: all 1s; 
}

#trashcan{
  height: 70px;
  width: 60px;
  position: absolute;
  bottom: 0px;
  left:315px;
  z-index: 18;
  -webkit-animation: moveRight 3.5s ease;
     -moz-animation: moveRight 3.5s ease;
      -ms-animation: moveRight 3.5s ease;
       -o-animation: moveRight 3.5s ease;
          animation: moveRight 3.5s ease;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
  
}

#light{
  position: absolute;
  top:-10px;
  left:395px;
  width:200px;
  -webkit-animation: moveDown 2s ease;
     -moz-animation: moveDown 2s ease;
      -ms-animation: moveDown 2s ease;
       -o-animation: moveDown 2s ease;
          animation: moveDown 2s ease;
}

/*computer screen*/
#screen{
  height:53.5px;
  width: 65px;
  position: absolute;
  bottom:200px;
  left:515px;
  background-blend-mode: luminosity;
  border-radius: 2px;
  z-index: 31;
  -webkit-animation: screenOn 2s ease-in;
     -moz-animation: screenOn 2s ease-in;
      -ms-animation: screenOn 2s ease-in;
       -o-animation: screenOn 2s ease-in;
          animation: screenOn 2s ease-in;
          animation-delay: 5.5s;
          animation-fill-mode: forwards;
}

#screenLeft{
  position: absolute;
  height:84px;
  width:145px;
  left:123px;
  top:73px; 
  display: flex;
  z-index: 23;
  justify-content: center;
  align-items: center;
  margin:0;
  -webkit-animation: screenOn 2s ease-in;
     -moz-animation: screenOn 2s ease-in;
      -ms-animation: screenOn 2s ease-in;
       -o-animation: screenOn 2s ease-in;
          animation: screenOn 2s ease-in;
          animation-delay: 7.3s;
          animation-fill-mode: forwards;
}

#screenRight{
  position: absolute;
  height:84px;
  width:145px;
  left:313px;
  top:73px; 
  z-index: 22;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  border-radius: 1px;
  -webkit-animation: screenOn 1.5s ease-in;
     -moz-animation: screenOn 1.5s ease-in;
      -ms-animation: screenOn 1.5s ease-in;
       -o-animation: screenOn 1.5s ease-in;
          animation: screenOn 1.5s ease-in;
          animation-delay: 8.2s;
          animation-fill-mode: forwards;
}

#stairs{
  position: absolute;
  left:30px;
  bottom:12px;
  width:255px;
  z-index:99;
  -webkit-animation: moveRight 1s ease;
     -moz-animation: moveRight 1s ease;
      -ms-animation: moveRight 1s ease;
       -o-animation: moveRight 1s ease;
          animation: moveRight 1s ease;
}
#bulletin{
  position: absolute;
  height:450px;
  width:200px;
  bottom:15px;
  left:751px;
}

#wall{
  position: absolute;
  left:0;
  bottom: 0;
  width:450px;
  height: 450px;
  z-index: 16;
  
  -webkit-animation: moveDown .5s ease;
     -moz-animation: moveDown .5s ease;
      -ms-animation: moveDown .5s ease;
       -o-animation: moveDown .5s ease;
          animation: moveDown .5s ease;
}


#monitorLeft{
  position: absolute;
  height:120px;
  width:170px;
  left:110px;
  top:60px;
  z-index: 19;
  -webkit-animation: moveLeft 3.25s ease;
     -moz-animation: moveLeft 3.25s ease;
      -ms-animation: moveLeft 3.25s ease;
       -o-animation: moveLeft 3.25s ease;
          animation: moveLeft 3.25s ease;
}

#monitorRight{
  position: absolute;
    height: 120px;
     width: 170px;
     right:-20px;
     top:60px;
     z-index: 20;
  -webkit-animation: moveRight 3.25s ease;
     -moz-animation: moveRight 3.25s ease;
      -ms-animation: moveRight 3.25s ease;
       -o-animation: moveRight 3.25s ease;
          animation: moveRight 3.25s ease;

}
/*turns on comupter switch*/
#powerButton{
  position: absolute;
  height: 9px;
  width: 9px;
  left: 615px;
  bottom: 210px;
  border-radius: 5px;
  z-index: 91;
  -webkit-animation: switchButtonOn .7s ease-in-out infinite;
     -moz-animation: switchButtonOn .7s ease-in-out infinite;
       -o-animation: switchButtonOn .7s ease-in-out infinite;
          animation: switchButtonOn .7s ease-in-out infinite;
          animation-fill-mode: forwards;
          animation-delay: 4s;
}

/*appears logo on comupter screen*/
#screenIcon{
  visibility: hidden;
  position: absolute;
  width:42px;
  margin: auto;
  left:13px;
  top:3px;
  z-index: 24;
  -webkit-animation: makevisible,flip;
     -moz-animation: makevisible,flip;
      -ms-animation: makevisible,flip;
       -o-animation: makevisible,spin;
          animation: makevisible,spin;
          animation-duration: 1s,1s;
          animation-timing-function: ease-in-out;
          animation-direction: normal,alternate;
          animation-fill-mode: forwards;
          animation-iteration-count: 1,3;
          animation-delay: 9.5s;
}

#screenIconRight{
  visibility: hidden;
  position: absolute;
  width:70px;
  margin: auto;
  left:40px;
  top:4px;
  -webkit-animation: makevisible,flip;
     -moz-animation: makevisible,flip;
      -ms-animation: makevisible,flip;
       -o-animation: makevisible,flip;
          animation: makevisible,flip;
          animation-duration: 60s,2s;
          animation-timing-function: ease-in,ease-in-out;
          animation-direction: normal,alternate,alternate;
          -webkit-animation-iteration-count: 1,infinite,infinite;
          -webkit-animation-duration: .25s,2s;
          animation-iteration-count: 1,infinite,infinite;
          animation-delay: 9.5s;
          animation-fill-mode: forwards;
}

#screenIconLeft{
  visibility: hidden;
  position: absolute;
  width:70px;
  margin: auto;
  left:40px;
  top:4px;
  z-index: 21;
  -webkit-animation: makevisible,flip;
     -moz-animation: makevisible,flip;
      -ms-animation: makevisible,flip;
       -o-animation: makevisible,flip;
          animation: makevisible,flip;
          animation-duration: .5s,2s;
          animation-timing-function: ease-in-out,ease-in-out;
          animation-direction: normal,alternate,alternate;
          -webkit-animation-iteration-count: 1,infinite,infinite;
          animation-iteration-count: 1,infinite,infinite;
          animation-delay: 9.5s;
          animation-fill-mode: forwards;
}


/*plant*/
#plant{
  position: absolute;
  bottom: 0px;
  left:37px;
  width:100px;
  z-index: 41;
  -webkit-animation: moveLeft 3.25s ease;
     -moz-animation: moveLeft 3.25s ease;
      -ms-animation: moveLeft 3.25s ease;
       -o-animation: moveLeft 3.25s ease;
          animation: moveLeft 3.25s ease;
}

/*walk*/
@keyframes walk{
    0% { background-position:0px; }
  100% { background-position: 1472px; }
}
@-webkit-keyframes walk{
    0% { background-position:0px; }
  100% { background-position: 1472px; }
}
@-moz-keyframes walk{
    0% { background-position:0px; }
  100% { background-position: 1472px; }
}
@-o-keyframes walk{
    0% { background-position:0px; }
  100% { background-position: 1472px; }
}


/*move right*/
@keyframes moveRight{
    0% { transform: translateX(-200px); }
  100% { transform: translateX(0); }
}
@-moz-keyframes moveRight{
    0% { transform: translateX(-200px); }
  100% { transform: translateX(0); } 
}
@-webkit-keyframes moveRight{
    0% { transform: translateX(-200px); }
  100% { transform: translateX(0); }
}
@-o-keyframes moveRight{
    0% { transform: translateX(-200px); }
  100% { transform: translateX(0); }
}


/*Moves items Left*/
@keyframes moveLeft{
    0% { transform: translateX(200px);}
  100% { -webkit-transform: translateX(0px);}
}
@-webkit-keyframes moveLeft{
    0% { transform: translateX(200px);}
  100% { -webkit-transform: translateX(0px);}
}
@-moz-keyframes moveLeft{
    0% { transform: translateX(200px);}
  100% { -webkit-transform: translateX(0px);}
}
@-o-keyframes moveLeft{
    0% { transform: translateX(200px);}
  100% { -webkit-transform: translateX(0px);}
}

/*diplays Weather outside window*/
@keyframes weather{
    0% { transform: translateX(200px); }
  100% { transform: translateX(-200px); }
}
@-webkit-keyframes weather{
    0% { transform: translateX(200px); }
  100% { transform: translateX(-200px); }
}
@-moz-keyframes weather{
    0% { transform: translateX(200px); }
  100% { transform: translateX(-200px); }
}
@-o-keyframes weather{
    0% { transform: translateX(200px); }
  100% { transform: translateX(-200px); }
}

/*Moves item upward*/
@keyframes moveUp{
    0% { transform: translateY(500px);}   
  100% { transform: translateY(-50x);}
}
@-webkit-keyframes moveUp{
    0% { transform: translateY(500px);}
  100% { transform: translateY(-50x);}
}
@-moz-keyframes moveUp{
    0%{ transform: translateY(500px);}
  100%{ transform: translateY(-50x);}
}
@-o-keyframes moveUp{
    0%{ transform: translateY(500px);}
  100%{ transform: translateY(-50x);}
}

/*move down*/
@keyframes moveDown{
    0%{ transform: translateY(-500px);}
  100%{ transform: translateY(50x);}
}
@-webkit-keyframes moveDown{
    0%{ transform: translateY(-500px);}
  100%{ transform: translateY(50x);}
}
@-moz-keyframes moveDown{
    0%{ transform: translateY(-500px);}
  100%{ transform: translateY(50x);}
}
@-o-keyframes moveDown{
    0%{ transform: translateY(-500px);}
  100%{ transform: translateY(50x);}
}

/*turns comuptuer screen on*/
@keyframes screenOn{
  from { background-color:black;}
    to { background-color: rgba(111, 207, 214, 0.742);
         background-blend-mode: luminosity;
         box-shadow: 1px 1px 2px rgba(162, 147, 250, 0.637), 0 0 25px rgb(192, 192, 245), 0 0 5px white;}
}
@-webkit-keyframes screenOn{
  from { background-color:black;}
    to { background-color: rgba(111, 207, 214, 0.742);
         background-blend-mode: luminosity;
         box-shadow: 1px 1px 2px rgba(162, 147, 250, 0.637), 0 0 25px rgb(192, 192, 245), 0 0 5px white;}
}
@-moz-keyframes screenOn{
  from { background-color:black;}
    to { background-color: rgba(111, 207, 214, 0.742);
         background-blend-mode: luminosity;
         box-shadow: 1px 1px 2px rgba(162, 147, 250, 0.637), 0 0 25px rgb(192, 192, 245), 0 0 5px white;}         
}
@-o-keyframes screenOn{
  from { background-color:black;}
    to { background-color: rgba(111, 207, 214, 0.742);
         box-shadow: 1px 1px 2px rgba(162, 147, 250, 0.637), 0 0 25px rgb(192, 192, 245), 0 0 5px white;
         background-blend-mode: luminosity;}
}

/*turns on computer switchbutton*/
@keyframes switchButtonOn{
 from { background-color:rgba(0, 0, 0, 0);}
   to { background-color:rgb(155, 238, 0);
        box-shadow: 1px 1px 2px rgb(214, 252, 0), 0 0 25px rgb(156, 175, 148), 0 0 5px white;}
}
@-webkit-keyframes switchButtonOn{
 from { background-color:rgba(0, 0, 0, 0);}
   to { background-color:rgb(155, 238, 0);
        box-shadow: 1px 1px 2px rgb(214, 252, 0), 0 0 25px rgb(156, 175, 148), 0 0 5px white;}
}
@-moz-keyframes switchButtonOn{
 from { background-color:rgba(0, 0, 0, 0);}
   to { background-color:rgb(155, 238, 0);
        box-shadow: 1px 1px 2px rgb(214, 252, 0), 0 0 25px rgb(156, 175, 148), 0 0 5px white;}
}
@-o-keyframes switchButtonOn{
 from { background-color:rgba(0, 0, 0, 0);}
   to { background-color:rgb(155, 238, 0);
        box-shadow: 1px 1px 2px rgb(214, 252, 0), 0 0 25px rgb(156, 175, 148), 0 0 5px white;}
}


/*pulls Blinds up*/
@-webkit-keyframes pullBlinds{
  from { height: 400px;}
    to { height: 5px;}
}
@-moz-keyframes pullBlinds{
  from { height: 400px;}
    to { height: 5px;}
}
@-o-keyframes pullBlinds{
  from { height: 400px;}
    to { height: 5px;}
}
@keyframes pullBlinds{
  from { height: 400px;}
    to { height: 5px;}
}


#favicon{
      width: 175px;
     height: 200px;
   position: absolute;
  animation: spin 2s ease alternate-reverse 3;
}

#logo{
  height:200px;
  display: flex;
  animation-name: spin, smallsize;
  animation-duration: 3s, 2s;
  animation-delay: 0s,3s;
  animation-iteration-count: 5,3;
  animation-direction: alternate-reverse,alternate;
  animation-fill-mode: forwards;
}

/*display nothing*/
@keyframes displayNone{
  from { display: flex; }
    to { display: none; }
}
@-webkit-keyframes displayNone{
  from { display: flex; }
    to { display: none; }
}
@-o-keyframes displayNone{
  from { display: flex; }
    to { display: none; }
}

/*make visible*/
@keyframes makevisible {
  from { visibility: hidden; }
    to { visibility: visible;}
}
@-webkit-keyframes makevisible {
  from { visibility: hidden; }
    to { visibility: visible;}
}
@-o-keyframes makevisible {
  from { visibility: hidden; }
    to { visibility: visible;}
}
@keyframes makevisible {
  from { visibility: hidden; }
    to { visibility: visible;}
}

@keyframes flip {
  100% { transform: rotateY(360deg); }
}
@-webkit-keyframes flip {
  100% { transform: rotateY(360deg); }
}
@-moz-keyframes flip{
  100% { transform: rotateY(360deg); }
}

/*spin*/
@keyframes spin {
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { transform: rotate(360deg); }
}
@-moz-keyframes spin{
  100% { transform: rotate(360deg); }
}

/*swing*/
@keyframes swing{
  100% { transform: rotate(40deg); }
}
@-webkit-keyframes swing{
  100%{ transform: rotate(360deg); }
}
@-moz-keyframes swing{
  100%{ transform: rotate(360deg); }
}

/*causes sticky note to fall*/
@keyframes noteFall{
  100%{
    transform: translateY(-200px) rotate(40deg);
  }

  0%{
    transform: translateY(20px) rotate(180deg);
  }
}
@-webkit-keyframes noteFall{
  100%{
    transform: translateY(120px) rotate(40deg);
  }

  10%{
    transform: rotateY(120deg);
  }
  0%{
      
  }
}
@-moz-keyframes noteFall{
  100%{
    transform: translateY(120px) rotate(40deg);
  }

  10%{
    transform: rotateY(120deg);
  }
  0%{
      
  }
}


@keyframes smallsize{
 from { height:200px; } 
   to { height:0px;}
}


/********NAVIGATION BAR*********************/

#nav-bar{
  position: sticky;
  top:0;
}

.navbar{ 
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  top:0;
  padding: 0px;

  /*top: 0;
  position: absolute;
  transition: 1s all ease-in;
  left:630px; */
  -webkit-animation: all 1s ease-in;
     -moz-animation: all 1s ease-in;
      -ms-animation: all 1s ease-in;
       -o-animation: all 1s ease-in;
          animation: all 1s ease-in;
}

#menubar{
  background-color: black;
}

.menu{
  color: rgba(206, 248, 250, 0.733);
  padding: 12px;
  font-family: 'Special Elite';
  font-size: 16px;
  transition: 1s all ease-in; 
  -webkit-animation: moveDown 1s ease;
     -moz-animation: moveDown 1s ease;
      -ms-animation: moveDown 1s ease;
       -o-animation: moveDown 1s ease;
          animation: moveDown 1s ease;

}

.menu:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: 1px 1px #2d023f;
  font-size: 20px;
  transform: translateX(35deg);
}





/********BANNER SECTION*********************/
#banner
{
  height: 90vh;
    background: 
    linear-gradient(
      rgba(214, 214, 214, 0.068), 
      rgba(104, 105, 105, 0.02)
    ), url('');
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width:100%;
  position: relative;
  overflow: hidden;
}

.header-title2
{
  font-size: 75px;
  color: rgba(200, 245, 248, 0.733);
  margin: auto;
  font-family: 'Special Elite';
  font-weight: bold;
  padding-top: 10px;
  text-shadow: 2px 2px #000000;
}

.header-title2:hover
{
  font-size: 100px;
  color: rgba(37, 128, 134, 0.733);
  margin: auto;
  font-family: 'Special Elite';
  font-weight: bold;
  padding-top: 10px;
  text-shadow: 2px 2px #000000;
}

/*On switch*/
#on{
  background-color: rgb(62, 182, 52);
  border-radius: 5px;
  color: white;
  padding: 3px;
  font-weight: 10px;
}

/*off switch*/
#off{
  background-color: rgb(204, 68, 44);
  border-radius: 5px;
  padding: 3px;
}


#switch{
  background-color: rgba(128, 128, 128, 0.74);
  width:90px;
  height:50px;
  margin:auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left:20px;
  top:200px;
  z-index: 66;
  border-radius: 3px;
  box-shadow: 10px black;
}




/*fades background to black*/
@keyframes fadetoblack
{
  from { background-color: rgb(0, 0, 0);}
    to { background-color: rgba(255, 255, 255, 0);}
}
@-webkit-keyframes fadetoblack
{
  from { background-color: rgb(0, 0, 0);}
    to { background-color: rgba(0, 0, 0, 0);}
}


@keyframes fadeInMenuFont
{
  from { color: rgba(0, 0, 0, 0);}
  to { color: rgba(206, 248, 250, 0.733);}
}





/********ABOUT ME SECTION*********************/
.aboutme
{
  height:100vh;
  display: grid;
  grid-template-columns: .4fr 1.25fr 1fr 1fr .1fr;
  grid-template-rows: .25fr .75fr;
  grid-template-areas : "aboutme-ltbar aboutme-title aboutme-title aboutme-title aboutme-rtbar"
                        "aboutme-ltbar  aboutme-pic     aboutme-info aboutme-info  aboutme-rtbar";
  grid-gap: 10px;
  padding-bottom: 20px;
  
}

#aboutme-pic{
  background-color: purple;
  grid-area: aboutme-pic;
  border-radius: 360px;
  
}

#aboutme-info{
  grid-area: aboutme-info;
  text-align: justify;
  color:black;
  padding-right: 100px;
  font-family: poppins;
}

#aboutme-ltbar{
  
  grid-area: aboutme-ltbar;
}

#aboutme-rtbar{
  grid-area: aboutme-rtbar;
}

.typewrite
{
  font-size: 40px;
  color: rgba(200, 245, 248, 0.733);
  margin: auto;
  font-family: 'Special Elite';
  font-weight: bold;
  padding-top: 10px;
  text-shadow: 2px 2px #000000;
}

.typewrite:hover
{
  text-decoration: none;
  color:#fff;
}


/********PORTFOLIO SECTION*********************/
#portfolio
{
  margin-right: auto;
  /*background-image: url(''),radial-gradient(#28a3dd, #0d7751);*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  position: relative;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}

.port-title
{
  font-size: 40px;
  color: #fff;
  margin-top: 100px;
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
  font-weight: bold;
}
/*
.card
{  
  vertical-align: middle;
  background-color: rgba(3, 9, 20, 0.938);
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  border-style: outset;
  border-color: rgba(100, 250, 217, 0.281);
  margin-top: 10px;
  box-shadow: 10px 10px 2.5px rgba(0, 0, 0, 0.856);  
}

.card:hover
{
  background-color: rgb(25, 37, 58);
  box-shadow: 1px 1px 2px rgba(162, 147, 250, 0.637), 0 0 25px rgb(192, 192, 245), 0 0 5px white;
  transition: all 1s ease-in-out;
  
}

.card-title
{
  color: rgba(255, 255, 255, 0.836);
  font-family: 'Special Elite';
  margin-top: 10px;
  text-align: center;
}

.card-text
{
  color:rgb(243, 248, 244);
  font-family: 'Cutive Mono';
  font-size: 18px;
}


.card2
{  
  vertical-align: middle;
  background-color: rgba(0, 32, 92, 0.938);
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  border-style: outset;
  border-color: rgba(100, 250, 217, 0.281);
  margin-top: 10px;
  box-shadow: 10px 10px 2.5px rgba(0, 0, 0, 0.856);  
}

.card2:hover
{
  background-color: rgb(25, 37, 58);
  box-shadow: 1px 1px 2px rgba(162, 147, 250, 0.637), 0 0 25px rgb(192, 192, 245), 0 0 5px white;
  transition: all 1s ease-in-out;
  
}

.card-title2
{
  color: rgba(255, 255, 255, 0.836);
  font-family: 'Special Elite';
  margin-top: 10px;
  text-align: center;
}

.card-text2
{
  color:rgb(243, 248, 244);
  font-family: 'Cutive Mono';
  font-size: 18px;
} */

/********CONNECT *********************/
/*#contact
{
  background-image: linear-gradient(to right,  #010a14,#02203c); 
  clip-path: polygon(0 7%, 95% 0, 90% 95%, 0 80%);
  padding-top: 20px;
  color:#02203c;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
} */

/********TAGS/BUTTONS *********************/
.btnBlack
{
  background-color: rgb(155, 155, 155);
  border: none;
  color: rgb(51, 50, 50);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: none;
  border-radius: 3px;
  font-family: Special Elite;
  box-shadow: 5px 5px;
  pointer-events: none;
}

.btnBlack:hover
{
  text-decoration: none;
  color: rgb(51, 50, 50);
  pointer-events: none;
  cursor: default;
}


.btnPython
{
  background-color: rgb(115, 255, 0);
  border: none;
  color: rgb(22, 75, 11);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  border-radius: 3px;
  font-family: monospace;
  box-shadow: 5px 5px;
  pointer-events: none;
  cursor: default;
}

.btnPython:hover
{
  text-decoration: none;
  color: rgb(22, 75, 11);
  pointer-events: none;
  cursor: default;
}

.btnSQL
{
  background-color: rgb(132, 0, 255);
  border: none;
  color: rgb(72, 18, 90);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: default;
  border-radius: 3px;
  pointer-events: none;
  font-family: Special Elite;
  box-shadow: 5px 5px;
}

.btnSQL:hover
{
  text-decoration: none;
  color: rgb(72, 18, 90);
  pointer-events: none;
  cursor: default;
}

.btnHTML
{
  background-color: #03ebb1;
  border: none;
  color: rgb(7, 77, 65);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: none;
  border-radius: 3px;
  font-family: Special Elite;
  box-shadow: 5px 5px;
  pointer-events: none;
}

.btnHTML:hover
{
  text-decoration: none;
  color: rgb(85, 32, 7);
  cursor: none;
  pointer-events: none;
}

.btnCSS
{
  background-color: rgb(0, 255, 106);
  border: none;
  color: rgb(11, 68, 26);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: none;
  border-radius: 3px;
  font-family: Special Elite;
  box-shadow: 5px 5px;
  pointer-events: none;
}

.btnCSS:hover
{
  text-decoration: none;
  color: rgb(141, 61, 23);
  pointer-events: none;
  cursor: default;
}

.btnJava
{
  background-color: rgb(81, 184, 231);
  border: none;
  color: rgb(12, 50, 75);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  border-radius: 3px;
  font-family:Special Elite;
  box-shadow: 5px 5px;
  pointer-events: none;
  cursor: default;
}

.btnJava:hover
{
  text-decoration: none;
  color: rgb(75, 53, 12);
  pointer-events: none;
  cursor: default;
}

.btnJavaScript
{
  background-color: rgb(109, 21, 223);
  border: none;
  color: rgb(95, 5, 88);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: none;
  border-radius: 3px;
  font-family: Special Elite;
  box-shadow: 5px 5px;
  pointer-events: none;
  float:none;
}

.btnJavaScript:hover
{
  text-decoration: none;
  color: rgb(95, 5, 32);
  pointer-events: none;
  cursor: none;
}

.btnSource
{
  background: linear-gradient(to bottom right,
      lightseagreen, 
      rgba(0, 202, 252, 0.808)
    ), url('');
  border: black;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Poppins';
  border-radius: 25px;
  transition: all 1s;
  -moz-box-shadow: 0 0 6px #ccc;
  -webkit-box-shadow: 0 0 6px #ccc;
  box-shadow: 0 0 6px #ccc;

}
.btnResume
{
  background-color:  rgba(206, 248, 250, 0.733);
  border-width: 1px;
  color: rgb(2, 67, 68);
  padding: 10px 5px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: .25px .25px;
  cursor: pointer;
  font-family: 'Special Elite';
  border-radius: 2.5px;
  box-shadow: 15px;
 
}
.btnResume:hover
{
  text-decoration: none;
  color:aqua;
  font-size: 21px;
}
.btnSource:hover
{
  text-decoration: none;
  color:white;
  background-color: rgba(0, 255, 255, 0);
  font-size: 14px;
   text-transform: uppercase;
}


#refresh_page_rocket{
  width: 20%;
  -webkit-animation: fly 1s ease alternate infinite;
     -moz-animation: fly 1s ease alternate infinite;
       -o-animation: fly 1s ease alternate infinite;
          animation: fly 1s ease alternate infinite;
}

#turtle{
  width: 39%;
  -webkit-animation: fly 1s ease alternate infinite;
     -moz-animation: fly 1s ease alternate infinite;
       -o-animation: fly 1s ease alternate infinite;
          animation: fly 1s ease alternate infinite;
}

/*Moves item upward*/
@keyframes fly{
    0% { transform: translateY(100px);}   
  100% { transform: translateY(-80px);}
}
@-webkit-keyframes fly{
    0% { transform: translateY(100px);}
  100% { transform: translateY(-80px);}
}
@-moz-keyframes fly{
    0%{ transform: translateY(100px);}
  100%{ transform: translateY(-80px);}
}
@-o-keyframes fly{
    0%{ transform: translateY(200px);}
  100%{ transform: translateY(-800px);}
}

.animations{
  height:100vh;
  display: grid;
  grid-template-columns: .25fr 1fr 1fr 1fr .25fr;
  grid-template-rows: .40fr .45fr;
  grid-template-areas: "ltbar2 ani1Top ani2Top ani3Top rtbar2"
                       "ltbar2 ani1 ani2 ani3 rtbar2"; 
  grid-column-gap: 10px;
  padding-bottom: 10px;
  
}

#ani-title{
  
  grid-area: ani-title;
  text-transform: uppercase;
  border-radius: 7px;
  font-size: 100px;
  font-family: Poppins;
  letter-spacing: 30px;
  text-align: center;
  transition:all 2s;
}

#ltbar2{
  grid-area: ltbar2;
  background-color: rgba(255, 255, 0, 0);
}

#rtbar2{
  grid-area: rtbar2;
  background-color: rgba(255, 255, 0, 0);
}

#ani1Top{
  grid-area: ani1Top;
  background: linear-gradient(to bottom right,
      rgba(0, 216, 205, 0.651), 
      rgba(95, 0, 219, 0.438)
    ), url('office_images/nightsky.png');
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;
 
}

#ani1{
  grid-area: ani1;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;
  text-align: center;
  padding:10px;
}

#ani2Top{
  grid-area: ani2Top;
  background-color: lightseagreen;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;



}
#ani2{
  grid-area: ani2;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;
  text-align: center;
  padding:10px;
}

#ani3Top{
  grid-area: ani3Top;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;
}
#ani3{
  grid-area: ani3;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;
  text-align: center;
  padding:10px;
}



.cluster{
  height: auto;
  /*background: linear-gradient(
      rgba(176, 227, 230, 0.76), 
      rgba(218, 198, 243, 0.719)
    ), url(''); */
  display: grid;
  grid-template-columns: .25fr 1fr 1fr 1fr .25fr;
  grid-template-rows: .10fr 1fr 1fr 1fr .10fr;
  grid-template-areas: "ltbar projects-title projects-title projects-title rtbar"
                       "ltbar content1 content2 content2 rtbar"
                       "ltbar content4 content4 content3 rtbar"
                       "ltbar content5 content6 content6 rtbar"
                       "ltbar ani-title ani-title ani-title rtbar"
                       ;
  
  padding: 10px;
  grid-row-gap: 50px;
}

#projects-title{
  grid-area: projects-title;
 text-transform: uppercase;
  border-radius: 7px;
  font-size: 100px;
  font-family: Poppins;
  letter-spacing: 30px;
  text-align: center;
  transition:all 2s;
  position: relative;
}


#project-title:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1;
}

#content1{
  grid-area: content1;
  background: linear-gradient(to bottom right,
      rgba(0, 216, 205, 0.931), 
      rgba(95, 0, 219, 0.76)
    ), url('newspaper.jpeg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  /*-moz-box-shadow: 0 0 6px #ccc;
  -webkit-box-shadow: 0 0 6px #ccc;
  box-shadow: 0 0 6px #ccc;*/
  justify-content: center;
  align-items: center;
  display: flex;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;
  
}
#content2{
  grid-area: content2;
  padding:20px;
  padding-top:30px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;

font-family: poppins;
}

#content3{
grid-area: content3;
background: linear-gradient(
      rgba(0, 216, 205, 0.829), 
      rgba(95, 0, 219, 0.815)
    ), url('sushibk.jpeg');
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;
  justify-content: center;
  align-items: center;
  display: flex; 
}

#content4{ 
  grid-area: content4;
  background-color: white;
  padding-top:30px;
  padding-left: 80px;
  padding-right: 80px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;  
  font-family: poppins;
  color:rgba(0, 0, 0, 0.74);
}

#content5{
  grid-area: content5;
  background: linear-gradient(to bottom right,
      rgba(0, 216, 205, 0.931), 
      rgba(95, 0, 219, 0.76)
    ), url('office_images/jobbk.jpg');
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;
  justify-content: center;
  align-items: center;
  display: flex;
}

#content6{
  grid-area: content6;
  padding:20px;
  padding-top:30px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0 3px 16px black;
     -moz-box-shadow: 0 3px 16px black;
          box-shadow: 0 3px 16px black;
font-family: poppins;
}

.port-title{
  font-family: Poppins;
  font-size: 40px;
  color:rgb(4, 84, 95);
}

#ltbar{
  grid-area: ltbar;
  background-color: rgba(0, 0, 0, 0);
}

#rtbar{
  grid-area: rtbar;
  background-color: rgba(0, 0, 0, 0);
}

#sushi{
  width:25%;
  animation: spin 2s ease alternate infinite;
}

#job{
  width:35%;
  animation: widen 3s alternate ease-in-out infinite,spin 4s alternate-reverse ease-in-out infinite;
}
#office{
  width:25%;
  animation: widen 3s alternate ease-in-out infinite,spin 4s alternate-reverse ease-in-out infinite;
}

p{
  text-align: justify;
}

.contact{

  height:100vh;
  display: grid;
  grid-template-columns: 1fr 1.50fr 1fr 1fr .1fr;
  grid-template-rows: .25fr .75fr;
  grid-template-areas: 
             "contact-ltbar contact-title contact-title contact-title contact-rtbar"
             "contact-ltbar contact-pic contact-info contact-info  contact-rtbar";
  grid-gap: 10px;
  padding-bottom: 20px;
}
#contact-title1{
  grid-area: contact-title;
  font-size: 65px;
  font-family: Poppins;
  color:lightseagreen;

}

#contact-info{
  grid-area: contact-info;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  color:black;
  
}

#contact-pic{
  grid-area: contact-pic;
  background: linear-gradient(to bottom right,
      rgb(34, 32, 178), 
      rgba(139, 0, 252, 0.808)
    ), url('');
    border-radius: 470px;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: spin 7s ease-in-out alternate-reverse infinite;

}

#contact-ltbar{
  grid-area: contact-ltbar;
  
}

#contact-rtbar{ 
  grid-area: contact-rtbar;
}

#github{
  width:10%;
  transition: all 1s ease-in-out;
}
#github:hover{
  animation: flip 1s ease-in-out;
}

 #email{
  width:10%;
  transition: all 1s ease-in-out;
 }
 #email:hover{
   animation: flip 1s ease-in-out;
 }

 #linkedin{
   width:10%;
   transition: all 1s ease-in-out;
 }
 #linkedin:hover{
   animation: flip 1s ease-in-out;
 }

 #line{
   width:1%;

   height: 40%;
 }

