html,body
{
  background-image: 
    linear-gradient(rgba(0,0,0,0.05) 50%, 0, transparent 100%), 
    linear-gradient(-75deg, #0cc, #066);
  background-size: .5em .5em, 80% 80%;
  transition: background-color 2s ease-in;
  scroll-behavior: smooth;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

#preload{

  width:100%;
  height:100vh;
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadetoblack, makevisible;
  animation-duration: 1s, 1s;
  animation-delay: 10s,12s;
  animation-timing-function: ease,ease;
  animation-iteration-count: 1,1;
  animation-fill-mode: forwards;
  z-index: 999;
  background-color: black;
}

#door{
  background-color: blue;

  }



#desk{
  position: absolute;
  bottom: 0;
  width:355px;
  left:400px;
  animation: moveUp 2.0s ease;
}

#pencilcan{
  position: absolute;
  top:390px;
  width:50px;
  height:60px;
  left:440px;
  animation: moveDown 2.0s ease;
  

}

#chair{
  position: absolute;
  bottom: -45px;
  left:530px;
  animation: moveUp 3.25s ease;
  height:210px;
  width:175px;
}

#computer{
  position: absolute;
  width:150px;
  height:120px;
  bottom:160px;
  left:500px;
  animation: moveUp 2s ease;
  z-index: 1;

}
#stickynote{
  position: absolute;
  height:30px;
  width:30px;
  left:655px;
  top:300px;
  animation: noteFall 2s ease;
}

#stickynote:hover{
  animation: moveDown 1s ease-in-out;
}

#window{
  position: absolute;
  left:32px;
  animation: moveRight 2s ease;
  top:118px;
  width:175px;
}

#windows{
  position: absolute;
  width: 140px;
  top:130px;
  overflow: hidden;
  height: 275px;
  left:50px;
  animation: moveRight 2s ease;
}

#outside{
  position: absolute;
  top:0px;
  left:-200px;
  height:285px;
  width: 600px;
  animation: outsideweather;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  background-attachment: fixed;
  background-size:contain;
  z-index: 0;
}

#blinds{
  position: absolute;
  z-index: 3;
  top:115px;
  left:30px;
  height:350px;
  animation: moveRight, pullBlinds;
  animation-delay: 0s,5s;
  animation-timing-function: ease, ease-in;
  animation-duration: 2s, .5s;
  animation-iteration-count: 1,1;
  animation-fill-mode: forwards;
  width:178px;
}

#blinds:hover{
  height:356px;
}
#bookshelf{
  position: absolute;
  height:100px;
  width:130px;
  left:580px;
  top:170px;
  animation: moveDown 3s ease;
}

#clock{
  position: absolute;
  height:120px;
  width:130px;
  left:420px;
  top:180px;
  animation: moveUp 3s ease;
  
}
#clockHourHand{
  position: absolute;
  height:45px;
  width:45px;
  left:461px;
  top:220px;
  animation: moveUp, spin;
  animation-duration: 3s,60s;
  animation-delay: 0s,4s;
  -webkit-animation-duration: 3s,60s;
  animation-timing-function: ease,linear;
  animation-iteration-count: 1,infinite;
  animation-fill-mode: forwards;
}

#clockMinHand{
  position: absolute;
  height:30px;
  width:30px;
  left:471px;
  top:226px;
  animation: moveUp, spin;
  animation-duration: 3s,10s;
  animation-delay: 0s,4s;
  -webkit-animation-duration: 3s,6s;
  animation-timing-function: ease,linear;
  animation-iteration-count: 1,infinite;
  animation-fill-mode: forwards;
 
  

}
#corkboard{
  position: absolute;
  height:100px;
  width:130px;
  left:580px;
  top:280px;
  animation: moveUp 3s ease;
}

#picture{
  position: absolute;
  height:150px;
  width:130px;
  animation: moveUp 1.75s ease;
  top:295px;
  background-size: 10px;
  left:285px;
}

#picture:hover{
  height: 175px;
  width:150px;
  transition: all 1s;

}

#light{
  position: absolute;
  top:-10px;
  left:450px;
  width:250px;
  animation: moveDown 2s ease;
}

#lightbulb{
  position: absolute;
  top:0px;
  width:20px;
  height:25px;
  left: 620px;
  background-color: yellow;
  border-radius: 40px;
  box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}



#screen{

  height:53.5px;
  width: 65px;
  position: absolute;
  bottom:200px;
  left:515px;
  animation: screenOn 2s ease-in;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
  background-blend-mode: luminosity;
  border-radius: 2px;
}
#stairs{
  position: absolute;
  left:0px;
  bottom:-20px;
  z-index:99;
  animation: moveRight 1s ease;


}

#wall{
  position: absolute;
  left:270px;
  bottom: 15px;
  width:450px;
  height: 450px;
  animation: moveDown .5s ease;
}

#powerButton{
  position: absolute;
  height: 9px;
  width: 9px;
  left:615px;
  bottom: 210px;
  border-radius: 5px;
  z-index: 0;
  animation: powerButtonOn .5s ease-in-out;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

}

#screenIcon{
  visibility: hidden;
  position: absolute;
  width:43px;
  margin: auto;
  left:13px;
  top:3px;
  animation: makevisible,spin;
  animation-delay: 7s;
  animation-duration: 1s,1s;
  animation-timing-function: ease-in-out;
  animation-direction: normal,alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 1,3;
}

#plant{
  position: absolute;
  bottom: 0px;
  left:760px;
      animation: moveLeft 3.25s ease;

}


@keyframes walk{
  0%{
    background-position:0px;
  }
  100%{
    background-position: 1472px;
  }
}

@keyframes moveRight{
  0%{
    transform: translateX(-200px);
  }

  100%{
    transform: translateX(0);
  }
}

@keyframes moveLeft{
  0%{
    transform: translateX(200px);
  }

  100%{
    transform: translateX(0px);
  }
}

@keyframes outsideweather{
  
  0%{
    transform: translateX(200px);
  }

  100%{
    transform: translateX(-200px);
  }
}

@keyframes moveUp{
  0%{
    transform: translateY(500px);
  }

  100%{
    transform: translateY(-50x);
  }
}

@keyframes moveDown{
  0%{
    transform: translateY(-500px);
  }

  100%{
    transform: translateY(50x);
  }
}


@keyframes screenOn{
  
 from {
    background-color:black;
  }

 to {
    background-color: rgba(255, 255, 255, 0.742);
    background-blend-mode: luminosity;
  }
}

@keyframes powerButtonOn{
  
 from {
      background-color:rgba(0, 0, 0, 0);
  }

 to {
      background-color: rgb(47, 248, 255);
  }
}

@keyframes pullBlinds{
 from {
      height: 400px;

  }

 to {
      height:5px;
     

  }
}











#favicon{
  width:200px;
  height:200px;
  position: absolute;
  top:40%;
  animation-delay: spin 2s ease;
}



#logo{
  height:200px;
  display: flex;
  animation-name: spin, smallsize;
  animation-duration: 3s, 2s;
  animation-delay: 0s,3s;
  animation-iteration-count: 5,3;
  animation-direction: alternate-reverse,alternate;
  animation-fill-mode: forwards;
}

@keyframes diplayNone
{
  from
  {
    display: flex;
  }
   to
  {
    display: none;
  }
}
@keyframes makevisible
{
  from
  {
    visibility: hidden;
  }
  to
  {
    visibility: visible;
  }
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}


@keyframes swing{
  100%{
    transform: rotate(40deg);
  }
}


@keyframes noteFall{
  100%{
    transform: translateY(120px) rotate(40deg);
  }

  10%{
    transform: rotateY(120deg);
  }
  0%{
      
  }


}




@keyframes smallsize{

 from
  {
    height:200px;
  } 
 to
  {
    height:0px;
  }

}
/********NAVIGATION BAR*********************/

#nav-bar
{
  position: sticky;
  top:0;
 
  

}

.navbar 
{ 
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  position: absolute;
  transition: 1s all ease-in;
 
  

}

#menubar{
  background-color: black;
  
}

.menu
{
  color: rgba(206, 248, 250, 0.733);
  padding: 12px;
  font-family: 'Special Elite';
  font-size: 18px;
  transition: 1s all ease-in; 
  left:600px; 
}

.menu:hover
{
 color: rgb(255, 255, 255);
 text-decoration: none;
 text-shadow: 1px 1px #2d023f;
 font-size: 20px;
 transform: translateX(35deg);
}


/********HEADER SECTION*********************/
#banner
{
  background-image: url("park.jpg");
  height: 100vh;
  background-size: cover;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  top:0;
}
/* banner */
@keyframes headup
{
  100%
  {
    transform:translateY();
  }
}
.header-title2
{
  font-size: 75px;
  color: rgba(200, 245, 248, 0.733);
  margin: auto;
  font-family: 'Special Elite';
  font-weight: bold;
  padding-top: 10px;
  text-shadow: 2px 2px #000000;
}

.header-title2:hover
{
  font-size: 100px;
  color: rgba(37, 128, 134, 0.733);
  margin: auto;
  font-family: 'Special Elite';
  font-weight: bold;
  padding-top: 10px;
  text-shadow: 2px 2px #000000;
}

#on{
  background-color: rgb(116, 139, 139);
  border-radius: 3px;
  color:white;
}

#off{
  background-color: rgb(134, 180, 180);
  border-radius: 3px;
}


#switch{
  background-color: gray;
  width:90px;
  height:50px;
  margin:auto;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left:900px;
  top:100px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px black, 0 0 25px rgb(148, 148, 175), 0 0 5px white;
}



#speaker{
  position: absolute;
  bottom:5px;
  left:900px;
  width:75px;
}


@keyframes fadetoblack
{
  from
  {
     background-color: rgb(0, 0, 0);
  }

  to
  {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes fadeInMenuFont
{
  from
  {
     color: rgba(0, 0, 0, 0);
  }

  to
  {
    color: rgba(206, 248, 250, 0.733);
  }
}




/********ABOUT ME SECTION*********************/
#about
{
  background-image: radial-gradient(#05293a, #010e20);
  clip-path: polygon(0 15%, 100% 0, 100% 95%, 0 95%);
  padding-top: 100px;
  color:#ffffff;
  font-family: monospace;
  height: 80%;
}

.typewrite
{
  font-size: 40px;
  color: rgba(200, 245, 248, 0.733);
  margin: auto;
  font-family: 'Special Elite';
  font-weight: bold;
  padding-top: 10px;
  text-shadow: 2px 2px #000000;
  border-left: 2vmin solid rgba(245, 247, 247, 0.158);
  border-right: 2vmin solid rgba(245, 247, 247, 0.158);
  
  
}

.typewrite:hover
{
  text-decoration: none;
  color:#fff;
}


/********PORTFOLIO SECTION*********************/


#portfolio
{
  margin-right: auto;
  background-image: url('bluekeyboard.jpg'),radial-gradient(#28a3dd, #0d7751);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  position: relative;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}

.port-title
{
  font-size: 40px;
  color: #fff;
  margin-top: 100px;
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
  font-weight: bold;
}

.card
{  
  vertical-align: middle;
  background-color: rgba(3, 9, 20, 0.938);
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  border-style: outset;
  border-color: rgba(100, 250, 217, 0.281);
  margin-top: 10px;
  box-shadow: 10px 10px 2.5px rgba(0, 0, 0, 0.856);
  
}

.card:hover
{
  width: 99%;
  background-color: rgba(12, 24, 46, 0.993);
  box-shadow: 10px 10px 2.5px rgba(0, 0, 0, 0.418);
  transition: width 40s, height 40s;
}

.card-title
{
  color: rgba(255, 255, 255, 0.836);
  font-family: 'Special Elite';
  margin-top: 10px;
}

.card-text
{
  color:rgb(243, 248, 244);
  font-family: 'Cutive Mono';
  font-size: 18px;
}


/********CONNECT *********************/

#contact
{
  background-image: linear-gradient(to right,  #010a14,#02203c); 
  clip-path: polygon(0 7%, 95% 0, 90% 95%, 0 80%);
  padding-top: 20px;
  color:#02203c;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
}








/********TAGS/BUTTONS *********************/


.btnBlack
{
  background-color: rgb(155, 155, 155);
  border: none;
  color: rgb(51, 50, 50);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  cursor: none;
  border-radius: 3px;
  font-family: monospace;
  box-shadow: 5px 5px;
  pointer-events: none;
}
.btnBlack:hover
{
  text-decoration: none;
  color: rgb(51, 50, 50);
  pointer-events: none;
  cursor: default;
}

#trashcan{
  height: 90px;
  width: 75px;
  position: absolute;
  bottom: -10px;
  left:220px;
  animation: moveRight 3.5s ease;
}

#trashcan:hover{
  animation: spin .5s ease;
  
}


.btnPython
{
  background-color: rgb(115, 255, 0);
  border: none;
  color: rgb(22, 75, 11);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  border-radius: 3px;
  font-family: monospace;
  box-shadow: 5px 5px;
  pointer-events: none;
  cursor: default;
}
.btnPython:hover
{
  text-decoration: none;
  color: rgb(22, 75, 11);
  pointer-events: none;
  cursor: default;
}


.btnSQL
{
  background-color: rgb(132, 0, 255);
  border: none;
  color: rgb(72, 18, 90);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  cursor: default;
  border-radius: 3px;
  pointer-events: none;
  font-family: monospace;
  box-shadow: 5px 5px;
}

.btnSQL:hover
{
  text-decoration: none;
  color: rgb(72, 18, 90);
  pointer-events: none;
  cursor: default;
}

.btnHTML
{
  background-color: #03ebb1;
  border: none;
  color: rgb(7, 77, 65);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  cursor: none;
  border-radius: 3px;
  font-family: monospace;
  box-shadow: 5px 5px;
  pointer-events: none;
}

.btnHTML:hover
{
  text-decoration: none;
  color: rgb(85, 32, 7);
  cursor: none;
  pointer-events: none;
  
}

.btnCSS
{
  background-color: rgb(0, 255, 106);
  border: none;
  color: rgb(11, 68, 26);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  cursor: none;
  border-radius: 3px;
  font-family: monospace;
  box-shadow: 5px 5px;
  pointer-events: none;
}
.btnCSS:hover
{
  text-decoration: none;
  color: rgb(141, 61, 23);
  pointer-events: none;
  cursor: default;
}

.btnJava
{
  background-color: rgb(81, 184, 231);
  border: none;
  color: rgb(12, 50, 75);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  border-radius: 3px;
  font-family: monospace;
  box-shadow: 5px 5px;
  pointer-events: none;
  cursor: default;
}
.btnJava:hover
{
  text-decoration: none;
  color: rgb(75, 53, 12);
  pointer-events: none;
  cursor: default;
}


.btnJavaScript
{
  background-color: rgb(109, 21, 223);
  border: none;
  color: rgb(95, 5, 88);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  cursor: none;
  border-radius: 3px;
  font-family: monospace;
  box-shadow: 5px 5px;
  pointer-events: none;
}

.btnJavaScript:hover
{
  text-decoration: none;
  color: rgb(95, 5, 32);
  pointer-events: none;
  cursor: none;
}

.btnSource
{
  background-color: rgba(48, 42, 46, 0);
  border: #fff;
  color: rgb(211, 211, 211);
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 1px 1px;
  cursor: pointer;
  box-shadow: 1px 1px;
  font-family: 'Special Elite';
  border-radius: 2px;
}


.btnResume
{
  background:inherit;
  border: black;
  border-width: 1px;
  color: rgb(0, 0, 0);
  padding: 10px 5px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: .25px .25px;
  cursor: pointer;
  font-family: 'Special Elite';
  border-radius: 2.5px;
  box-shadow: 15px;

}

.btnResume:hover
{
  text-decoration: none;
  color:aqua;
  font-size: 21px;
  
}

.btnSource:hover
{
  text-decoration: none;
  color:rgba(48, 243, 243, 0.473);
  background-color: rgba(0, 255, 255, 0);;
  font-size: 15px;
}

/********FOOTER SECTION*********************/
#footer
{
  background-image: linear-gradient(to right,  #010a14,#02203c);
  position: sticky;
  bottom:0;
  clip-path: polygon(0 7%, 100% 0, 100% 95%, 0 95%);
  background-size: cover;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  align-content: middle;
  color: rgba(206, 248, 250, 0.733);
  padding: 12px;
  font-family: 'Special Elite';
  font-size: 18px;
}