/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Rajdhani:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

*{
  margin:0px;
}

body{
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

#container{
  width: 700px;
  height:550px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgb(92, 124, 27);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

#title{
  font-family: poppins;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.underline{
  margin: 5px;
  height: 5px;
  width: 100px;
  background-color: lightseagreen;
}
#project-img{
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

#project-title{
  font-family: poppins;
}
#project-info{
  text-align: justify;
  height: auto;
  width: 95%;
  margin: 5px;
  font-family: poppins;
  font-weight: 200;
  padding: 10px;
  background-color: blueviolet;
  padding: 20px;
}

#scroll-buttons{
  margin: 5px;
  background-color: aquamarine;
}
#scroll-buttons .next-btn{
  background-color: lightseagreen;
  border: none;
  height: 25px;
}
#scroll-buttons .prev-btn{
  background-color: lightseagreen;
  border: none;
  height: 25px;
}
#project-buttons{
  background-color: blueviolet;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}